{% extends 'customer/base.html' %}
{% load static %}

{% block content %}

<div class="container md-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>This is a online food delivery services website created in django website.</p>
            <p>This is a online food delivery services website created in django website.</p>
            <p>This is a online food delivery services website created in django website.</p>
        </div>
    </div>
</div>

{% endblock %}